In [2]:
import pandas as pd
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [15]:
x = ['PG','BEI.DE']
df = pd.DataFrame()
for t in x:
    df[t] = wb.DataReader(t,data_source='yahoo',start='1-1-2008')['Adj Close']
df

                   PG     BEI.DE
Date
2007-12-31  52.179115        NaN
2008-01-02  51.390266  42.949612
2008-01-03  51.390266  41.957638
2008-01-04  51.184139  41.826477
2008-01-07  51.518173  41.933060
2008-01-08  51.653210  41.769093
2008-01-09  51.553711  40.785320
2008-01-10  51.511078  40.432804
2008-01-11  49.876480  38.391495
2008-01-14  49.954666  39.981918
2008-01-15  49.535336  39.768761
2008-01-16  49.171055  39.916325
2008-01-17  48.621071  40.555782
2008-01-18  47.963928  40.777126
2008-01-22  46.521069  38.866970
2008-01-23  47.313923  38.457077
2008-01-24  47.249645  40.629562
2008-01-25  46.649643  41.523151
2008-01-28  46.635380  41.178822
2008-01-29  46.199650  41.236214
2008-01-30  46.492496  40.441010
2008-01-31  46.728222  42.260975
2008-02-01  47.178238  42.006836
2008-02-04  47.249645  41.974041
2008-02-05  46.456787  40.891899
2008-02-06  46.649643  41.646118
2008-02-07  46.978218  41.613323
2008-02-08  46.442509  42.105209
2008-02-11  47.142509  41.514946
2008-02-12  47.971077  42.597092
...               ...        ...
2018-11-08  91.360001  90.680000
2018-11-09  92.410004  91.779999
2018-11-12  92.699997  91.239998
2018-11-13  93.470001  92.220001
2018-11-14  93.489998  91.879997
2018-11-15  93.830002  91.599998
2018-11-16  93.820000  93.239998
2018-11-19  93.290001  92.019997
2018-11-20  92.099998  92.720001
2018-11-21  91.410004  93.580002
2018-11-23  91.540001  93.459999
2018-11-26  91.940002  92.940002
2018-11-27  92.720001  93.779999
2018-11-28  93.010002  94.000000
2018-11-29  92.820000  94.000000
2018-11-30  94.510002  94.540001
2018-12-03  93.320000  93.760002
2018-12-04  93.309998  95.139999
2018-12-06  93.550003  92.480003
2018-12-07  92.449997  94.239998
2018-12-10  93.029999  92.580002
2018-12-11  93.910004  93.900002
2018-12-12  94.029999  94.440002
2018-12-13  96.489998  94.779999
2018-12-14  96.639999  93.699997
2018-12-17  92.769997  92.480003
2018-12-18  92.489998  92.059998
2018-12-19  91.760002  93.059998
2018-12-20  90.980003  92.760002
2018-12-21  90.970001  92.739998

[2765 rows x 2 columns]

In [17]:
df.head()

                   PG     BEI.DE
Date
2007-12-31  52.179115        NaN
2008-01-02  51.390266  42.949612
2008-01-03  51.390266  41.957638
2008-01-04  51.184139  41.826477
2008-01-07  51.518173  41.933060

In [18]:
security = np.log(df/df.shift(1))
security

                  PG    BEI.DE
Date
2007-12-31       NaN       NaN
2008-01-02 -0.015234       NaN
2008-01-03  0.000000 -0.023367
2008-01-04 -0.004019 -0.003131
2008-01-07  0.006505  0.002545
2008-01-08  0.002618 -0.003918
2008-01-09 -0.001928 -0.023834
2008-01-10 -0.000827 -0.008681
2008-01-11 -0.032247 -0.051805
2008-01-14  0.001566  0.040591
2008-01-15 -0.008430 -0.005346
2008-01-16 -0.007381  0.003704
2008-01-17 -0.011248  0.015893
2008-01-18 -0.013608  0.005443
2008-01-22 -0.030544 -0.047977
2008-01-23  0.016899 -0.010602
2008-01-24 -0.001359  0.054953
2008-01-25 -0.012780  0.021755
2008-01-28 -0.000306 -0.008327
2008-01-29 -0.009387  0.001393
2008-01-30  0.006319 -0.019472
2008-01-31  0.005057  0.044020
2008-02-01  0.009584 -0.006032
2008-02-04  0.001512 -0.000781
2008-02-05 -0.016923 -0.026119
2008-02-06  0.004143  0.018276
2008-02-07  0.007019 -0.000788
2008-02-08 -0.011469  0.011751
2008-02-11  0.014960 -0.014118
2008-02-12  0.017423  0.025732
...              ...       ...
2018-11-08  0.000766  0.004421
2018-11-09  0.011427  0.012058
2018-11-12  0.003133 -0.005901
2018-11-13  0.008272  0.010684
2018-11-14  0.000214 -0.003694
2018-11-15  0.003630 -0.003052
2018-11-16 -0.000107  0.017746
2018-11-19 -0.005665 -0.013171
2018-11-20 -0.012838  0.007578
2018-11-21 -0.007520  0.009232
2018-11-23  0.001421 -0.001283
2018-11-26  0.004360 -0.005579
2018-11-27  0.008448  0.008997
2018-11-28  0.003123  0.002343
2018-11-29 -0.002045  0.000000
2018-11-30  0.018044  0.005728
2018-12-03 -0.012671 -0.008285
2018-12-04 -0.000107  0.014611
2018-12-06  0.002569 -0.028357
2018-12-07 -0.011828  0.018852
2018-12-10  0.006254 -0.017772
2018-12-11  0.009415  0.014157
2018-12-12  0.001277  0.005734
2018-12-13  0.025825  0.003594
2018-12-14  0.001553 -0.011460
2018-12-17 -0.040869 -0.013106
2018-12-18 -0.003023 -0.004552
2018-12-19 -0.007924  0.010804
2018-12-20 -0.008537 -0.003229
2018-12-21 -0.000110 -0.000216

[2765 rows x 2 columns]

In [19]:
security['PG'].mean()*250

0.05027563952132577

In [20]:
security['PG'].std()*250 ** 0.5

0.1757815129216934

In [21]:
security[['PG','BEI.DE']].std()*250 ** 0.5

PG        0.175782
BEI.DE    0.214840
dtype: float64

In [22]:
security['PG'].var()*250

0.030899140285039456

In [23]:
security['BEI.DE'].var()*250

0.04615611942189784

In [24]:
cov_matrix = security.cov()*250
cov_matrix

              PG    BEI.DE
PG      0.030899  0.010201
BEI.DE  0.010201  0.046156

In [25]:
cor_matrix = security.corr()
cor_matrix

              PG    BEI.DE
PG      1.000000  0.268926
BEI.DE  0.268926  1.000000

#This shows how two returns are related to each other not how prices are related to each other

# portfolio risk

portfolio Variance

In [27]:
weights = np.array([0.5,0.5])

In [28]:
port_var = np.dot(weights.T,np.dot(security.cov()*250,weights))

In [29]:
port_var

0.02436428730566729

In [30]:
print (str(round(port_var,5)*100),'%')

2.436 %

diversifiable risk

In [31]:
pg_var = security['PG'].var()*250

In [32]:
bie_var = security['BEI.DE'].var()*250

In [33]:
risk = port_var - (weights[0] **2*pg_var + weights[1]**2*bie_var)

In [34]:
risk

0.005100472378932963

In [35]:
print (str(round(risk,5)*100),'%')

0.51 %

Non Diversifiable Risk

In [36]:
nf1 = port_var - risk
nf1

0.019263814926734325

In [37]:
nf2 = weights[0] **2*pg_var + weights[1]**2*bie_var

In [38]:
nf2

0.019263814926734325

In [39]:
nf1 == nf2

True